<header>
  <div class="header-area ">
      <div id="sticky-header" class="main-header-area">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-xl-3 col-lg-3">
                      <div class="logo-img">
                          <a>
                            <img src="../../assets/img/winProd.png" alt="logo"
                            alt=""
                              style="height: 105px;">

                          </a>
                      </div>
                  </div>
                  <div class="col-xl-9 col-lg-9">
                      <div class="main-menu d-none d-lg-block">
                        <nav>
                          <ul id="navigation">
                              <li><a routerLink="accueil">Home</a></li>
                              <li><a routerLink="signin">Sign in</a></li>
                              <li><a routerLink="inscription">Sign up</a></li>
                              <li><a routerLink="contact">Contact</a></li>
                          </ul>
                        </nav>


                      </div>
                  </div>
                  <div class="col-12">
                      <div class="mobile_menu d-block d-lg-none"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>

