

.header-area,
.main-header-area,
#sticky-header
{

    background: url("../../assets/img/navbar.jpg");
    background-size: cover;
    background-position: center bottom 3%;
  }


.slicknav_nav
{
  background-color: rgb(203, 105, 34);
}

.slicknav_nav a
{

  color: rgb(42, 35, 35);
  font-family: "Muli", sans-serif;;
}
#navigation a
{
  color: black;
  transition: 0.5s all ease-in-out;
  margin-left: 30px;
  font-weight: 700;
  font-style: italic;
}

#navigation a:hover
{
  color:rgb(203, 105, 34);
  transform: scale(1.1);
}



@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
