
/* .mwl-calendar-month-view {
  position: relative;
  overflow: hidden;
  height: fit-content;
}

.mwl-calendar-month-view:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #EA7A49;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.mwl-calendar-month-view:hover:before {
  opacity: 1;
}

.mwl-calendar-month-view .cal-day-cell {
  transition: transform 0.3s;
}

.mwl-calendar-month-view .cal-day-cell:hover {
  transform: scale(1.05);
}

.mwl-calendar-month-view .cal-day-events {
  background-color: #f2f2f2;
  padding: 4px;
  margin-bottom: 4px;
}

.mwl-calendar-month-view .cal-event-title {
  font-weight: bold;
}

.mwl-calendar-month-view .cal-event-title a {
  color: #ff8c00;
  text-decoration: none;
}

.mwl-calendar-month-view .cal-event-title a:hover {
  text-decoration: underline;
}
.mwl-calendar-month-view table {
  width: 100%;
  border-collapse: collapse;
  height: 200px;
}

.mwl-calendar-month-view th {
  background-color: #f0a80c;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.mwl-calendar-month-view td {
  padding: 10px;
  text-align: center;
}

.mwl-calendar-month-view .cal-day-cell {
  transition: transform 0.3s;
}

.mwl-calendar-month-view .cal-day-cell:hover {
  transform: scale(1.05);
}  */
