<div class="slider_area">
  <div class="slider_area_inner slider_bg_1 overlay2">
    <div class="slider_text text-center">
      <div class="text_inner">
        <img src="../../assets/img/banner/ornaments.png" alt="" />
        <h3>
          Iheb Events<br />
          à<br />
          votre bonheur
        </h3>
        <img src="../../assets/img/banner/ornaments.png" alt="" />
      </div>
    </div>
  </div>
</div>
<!--/ slider_area -->
<!-- wedding_countdown -->
<div class="weeding_countdown_area">
  <div class="flowaers_top d-none d-lg-block">
    <img src="../../assets/img/banner/flower-top.png" alt="" />
  </div>
  <div class="flowaers_bottom d-none d-lg-block"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title text-center">
          <img src="../../assets/img/banner/flowers.png" alt="" />

          <h3>À propos de nous</h3>
          <br /><br />
          <p
            style="
              font-size: x-large;
              font-family: monospace;
              font-style: italic;
            "
          >
            Iheb events est une entreprise se consacre à l'organisation de
            fêtes, offrant toujours ses services pour apporter de la joie et du
            bonheur dans le foyer et le cœur de ses clients. Son objectif
            principal n'est pas simplement de satisfaire les clients, mais de
            les combler de bonheur. Nous nous efforçons continuellement d'offrir
            le meilleur, et lorsque nous parvenons à vous rendre heureux, cela
            nous remplit de joie.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="why-us" class="why-us section-bg">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="why-box">
          <h3 style="margin-top: 150px">Pourquoi choisir Donya Events?</h3>
        </div>
      </div>
      <!-- End Why Box -->

      <div class="col-lg-8 d-flex align-items-center">
        <div class="row gy-4">
          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
            <div
              class="icon-box d-flex flex-column justify-content-center align-items-center"
            >
              <i
                class="fa-regular fa-face-smile fa-beat"
                style="color: #000000"
              ></i>
              <h4>Satisfaction de nos chers Réservateurs</h4>
              <p>
                <strong
                  >Avec Iheb Events <br />Des moments inoubliables à chaque
                  occasion!<br />Nous nous engageons à garantir la satisfaction
                  de nos chers réservateurs.<br /><br /><br
                /></strong>
              </p>
            </div>
          </div>
          <!-- End Icon Box -->

          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
            <div
              class="icon-box d-flex flex-column justify-content-center align-items-center"
            >
              <i class="fa-solid fa-shield fa-flip" style="color: #000000"></i>
              <h4>Sécurité des informations personnelles</h4>
              <p>
                <strong
                  >accordons une importance primordiale à la sécurité des
                  informations personnelles de nos réservateurs et nous nous
                  engageons à les protéger de manière rigoureuse et
                  efficace.</strong
                >
              </p>
            </div>
          </div>
          <!-- End Icon Box -->

          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
            <div
              class="icon-box d-flex flex-column justify-content-center align-items-center"
            >
              <i class="fas fas fas far fas fa-fire-alt fa-bounce"></i>
              <h4>Trés bonne qualité de service</h4>
              <p>
                <strong>
                  nous distinguons par notre excellence en matière de qualité de
                  service, offrant à nos réservateurs une expérience
                  exceptionnelle et un niveau élevé de satisfaction.</strong
                >
              </p>
              <p></p>
            </div>
          </div>
          <!-- End Icon Box -->
        </div>
      </div>
    </div>
  </div>
</section>

<div class="love_story_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title text-center">
          <img src="../../assets/img/banner/flowers.png" alt="" />
          <h3>Notre équipe</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_lover_story text-center">
          <div class="story_thumb">
            <img
              src="../../assets/img/iheb.png"
              alt=""
              style="height: 250px; width: 250px; border-radius: 50%;"
            />
          </div>
          <span>Chef de diréction</span>
          <h3>Iheb Meftah</h3>
        </div>
      </div>

      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_lover_story text-center">
          <div class="story_thumb">
            <img
              src="../../assets/img/tata amel.png"
              alt=""
              style="height: 250px; width: 250px"
            />
          </div>
          <span>Comptable</span>
          <h3>Amel Rehouma</h3>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4">
        <div class="single_lover_story text-center">
          <div class="story_thumb">
            <img
              src="../../assets/img/maryem.png"
              alt=""
              style="height: 250px; width: 250px"
            />
          </div>
          <span>développeur commerciale</span>
          <h3>Maryem hamrouni</h3>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ our_love-story -->

<!-- program_details -->
<div class="program_details_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title text-center">
          <img src="../../assets/img/banner/flowers.png" alt="" />
          <h3>Opinions</h3>
        </div>
      </div>
    </div>
    <div class="row dsplay">
      <div class="col-xl-4 col-lg-4" *ngFor="let av of avisList">
        <div class="single_program bg1 text-center">
          <div class="program_inner">
            <span>
              {{ av.Evaluation }}
            </span>
            <p>{{ av.text }}</p>
            <img
              src="../../assets/img/program_details/ornaments.png"
              alt=""
              style="height: 10px; width: 80px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ program_details -->

<!-- attend_area -->
